@tailwind base;
@tailwind components;
@tailwind utilities;

 /* Animation for SVG icon */
 .svg-rotate {
    animation: rotate 0.1s linear;
}

#register-form{
    display: none;
}

#login-form{
    display: none;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.cards{
    height: 250px;
    width: 300px;
    padding: 2rem;


    border-radius: 50%;
}

.cards img{
    height: inherit;
    width: inherit;
    border: 2px solid red;
    border-radius: 50%;
    -webkit-box-shadow: 3px 5px 5px 4px rgba(107,107,107,1);
    -moz-box-shadow: 3px 5px 5px 4px rgba(107,107,107,1);
    box-shadow: 3px 5px 5px 4px rgba(107,107,107,1);
    
}




/* swiper */

 html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }